
header{
  height: .55rem;
  display: flex!important;
  padding: 0 .15rem!important;
  align-items: center;
  background:rgb(253, 87, 92);
  h3{
    flex: 1;
    text-align: center;
    color: white;
  }
  
}
