
header{
  height: .44rem;
  display: flex!important;
  padding: 0 .15rem!important;
  align-items: center;
  background:#0092d8;
  h3{
    flex: 1;
    text-align: center;
    color: white;
  }
  
}
